@using Base.APP.Service;
@using Base.Shared.Enums;
@using Base.Shared.Models;


@inject IUsuarioService _usuarioService
@inject IPedidoService _pedidoService

<MudDialog>
    <DialogContent>
        <div class="layout-pedido">
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField Label="Nome" @bind-Value="PedidoObj.Nome" />
                </MudItem>
                <MudItem xs="12">
                    <MudField Label="Escolha o tamanho" Variant="Variant.Text" InnerPadding="false">
                        <MudRadioGroup @bind-SelectedOption="PedidoObj.Tamanho" Required="true" RequiredError="Escolha um Tamanho!">
                            <MudRadio Option="@ComumEnums.ETamanho.Pequeno" Color="Color.Primary" Size="Size.Small">@ComumEnums.ETamanho.Pequeno.GetDescription()</MudRadio>
                            <MudRadio Option="@ComumEnums.ETamanho.Médio" Color="Color.Primary" Size="Size.Small">@ComumEnums.ETamanho.Médio.GetDescription()</MudRadio>
                            <MudRadio Option="@ComumEnums.ETamanho.Grande" Color="Color.Primary" Size="Size.Small">@ComumEnums.ETamanho.Grande.GetDescription()</MudRadio>
                        </MudRadioGroup>
                    </MudField>
                </MudItem>
                <MudItem xs="5">
                    <MudSelect T="string" Label="Sabor" AnchorOrigin="Origin.BottomCenter" OpenIcon="@Icons.Material.Filled.LocalDrink" OnClearButtonClick="RemoveAdicional" @bind-Value="PedidoObj.Sabor" Clearable Required="true" RequiredError="Escolha um Sabor!">
                         @foreach (var sabor in Sabores)
                        {
                            <MudSelectItem T="string" Value="@sabor">@sabor</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="5">
                    <MudSelect T="string" Label="Adicional" AnchorOrigin="Origin.BottomCenter" Disabled="string.IsNullOrEmpty(PedidoObj.Sabor)" OpenIcon="@Icons.Material.Filled.LocalDrink" @bind-Value="PedidoObj.Adicional" Clearable>
                        @foreach (var sabor in Sabores)
                        {
                            <MudSelectItem T="string" Value="@sabor">@sabor</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudTextField T="decimal" Label="Preço" @bind-Value="PedidoObj.ValorFinal" ReadOnly="true" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.MonetizationOn" />
                </MudItem>
            </MudGrid>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Cancelar">Cancelar</MudButton>
        <MudButton Color="Color.Success" Variant="Variant.Filled" OnClick="Salvar">Salvar</MudButton>
    </DialogActions>
</MudDialog>
@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    public List<string> Sabores { get; set; } = new();
    public Pedido PedidoObj { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await CarregarListas();
        await base.OnInitializedAsync();
    }

    public void TesteRandom()
    {
        Random random = new Random();
        int random1 = random.Next(Sabores.Count);
        PedidoObj.Sabor = Sabores[random1];
        int random2 = random.Next(Sabores.Count);
        PedidoObj.Adicional = Sabores[random2];
    }

    public void RemoveAdicional()
    {
        PedidoObj.Adicional = "";
    }

    public async Task CarregarListas()
    {
        Sabores = new();
        StateHasChanged();
    }

    private void Cancelar()
    {
        MudDialog.Cancel();
        PedidoObj = new();
    }

    private async void Salvar()
    {
        var pedido = await _pedidoService.AddPedido(PedidoObj);
        MudDialog.Close(DialogResult.Ok(true));
        PedidoObj = new();
    }


}

<style>

    .mud-typography-h6 {
        text-align: center;
    }

    .mud-dialog .mud-dialog-title {
        padding-bottom: 5px;
    }

    .mud-dialog .mud-dialog-content {
        padding: 8px 25px;
    }

    .layout-pedido {
        width: 550px;
        height: 250px;
        text-align: center;
        padding: 10px;
        background-color: #383843;
    }

</style>